<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
</head>
<body>

    <div id="url-table">
    </div>

<pre id="out"></pre>


<script>
// This endpoint passes a rendereed template (i.e. HTML) instead of JSON.
// A little more data moving around than if the response was just JSON, but the 
// resulting code is a lot neater.
function update_table() {
    $.post("/get_data", {}, function(response) {
        var myDiv = $('#url-table');
        myDiv.html(response);
    });
};

$( document ).ready(function() {
    setInterval('update_table()', 3000); // tick every three seconds.
});
</script>
