<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <title>Breaking News</title>
</head>
<body>

<table class="table table-striped">
    <thead class="thead-default">
        <tr>
            <th>Rank</th>
            <th>Domain</th>
            <th>Score</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody id="url-table"></tbody>
</table>


<script>

var data=[];

function tick() {
    update_data();
    rebuild_table();
};

$( document ).ready(function() {
    setInterval('tick()', 1000); // tick every second.
});

function update_data() {
        $.getJSON($SCRIPT_ROOT + '/get_data', {})
            .success(
                  function(newdata) {
                    data.length=0;
                    for(i=0; i<newdata.result.length; i++){
                        data[i] = newdata.result[i];
                    };
                    }
                  );
        };

function rebuild_table() {
    d3.selectAll("tbody#url-table>tr").remove();
    var tbody = d3.select('tbody');
    var rows = tbody.selectAll("tr")
        .data(data)
        .enter()
        .append("tr")
        .attr('class', 'foobar')
        ;
    
    var cells = rows.selectAll("td")
        .data(function(row, i) {
            return [
            {column:'rank', value:i+1},
            {column:'domain', value:row.domain},
            {column:'score', value:row.score.toFixed(2)}, //round to 2 decimal places
            {column:'url', url:row.url, title:row.title, terms:row.terms}
            ];
            })
        .enter()
        .append("td")
        .attr('class', 'foobar2')
        .html(function(d) { 
            if(d.column == 'url'){
                return '<a title="Relevant terms: ' +d.terms+ '" href="' +d.url+ '">' +d.title+ '</a>'
            } else if(d.column == 'domain'){
                return '<img src="http://' + d.value + '/favicon.ico" style="width:30px;height:30px;" onerror="this.style.display=\'none\'">  '+ d.value
            } else {
                return d.value;
            }
        })
        ;
    
    };
        
</script>
