<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="http://codegena.com/assets/css/image-preview-for-link.css" rel="stylesheet"> <!-- for preview ...hopefully-->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
</head>
<body>

    <div id="url-table2">
    </div>

<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Score</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody id="url-table"></tbody>
</table>
    
<pre id="out"></pre>


<script>

var data=[];

function tick() {
    update_data();
    rebuild_table();
};

tick()
/*
$( document ).ready(function() {
    setInterval('tick()', 10000); // tick every second.
});
*/
function update_data() {
        $.getJSON($SCRIPT_ROOT + '/get_data', {})
            .success(
                  function(newdata) {
                    data.length=0;
                    for(i=0; i<newdata.result.length; i++){
                        data[i] = newdata.result[i];
                    };
                    }
                  );
        };

function rebuild_table() {
    d3.selectAll("tbody#url-table>tr").remove();
    var tbody = d3.select('tbody');
    var rows = tbody.selectAll("tr")
        .data(data)
        .enter()
        .append("tr")
        .attr('class', 'foobar')
        ;
    
    var cells = rows.selectAll("td")
        .data(function(row, i) {
            return [
            {column:'rank', value:i+1},
            {column:'score', value:row.score.toFixed(2)}, //round to 2 decimal places
            {column:'url', url:row.url, title:row.title, i:i}
            ];
            })
        .enter()
        .append("td")
        .attr('class', 'foobar2')
        .html(function(d) { 
            if(d.column == 'url'){
                return '<a id="link'+d.i+'" href="' +d.url+ '">' +d.title+ '</a>';
            } else {
                return d.value;
            }
        })
        ;
    
    <!-- http://stackoverflow.com/a/31994029/819544 -->
    $(function() {
                $('#link0').miniPreview({ prefetch: 'parenthover' });
                $('#link1').miniPreview({ prefetch: 'parenthover' });
                $('#link2').miniPreview({ prefetch: 'parenthover' });
                $('#link3').miniPreview({ prefetch: 'parenthover' });
                $('#link4').miniPreview({ prefetch: 'parenthover' });
                $('#link5').miniPreview({ prefetch: 'parenthover' });
                $('#link6').miniPreview({ prefetch: 'parenthover' });
                $('#link7').miniPreview({ prefetch: 'parenthover' });
                $('#link8').miniPreview({ prefetch: 'parenthover' });
                $('#link9').miniPreview({ prefetch: 'parenthover' });
            });
    
    };
        
</script>
<script src="http://codegena.com/assets/js/image-preview-for-link.js"></script>