<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
</head>
<body>
<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Score</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody id="url-table"></tbody>
</table>
<pre id="out"></pre>


<script src="{{  url_for('static', filename='js/controller.js')  }}"></script>
<script>
    $( document ).ready(function() {
        console.log('first tick');
        //tick();
        console.log('end first tick');
        setInterval('tick()', 100); // tick every tenth of a second.
        //setInterval('tick()', 30000); // tick every tenth of a second.
        console.log('interval set');
    });
</script>